@import 'components/styles/_variable';

main {
  background-color: $dark;
  color: white;
  position: relative;
  z-index: 1;

  &:before {
    background-image: url('../../../images/bottom-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 2000px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}
