@import 'components/styles/_variable';

.navbar {
  transition: .2s;

  @media only screen and (max-width: 767px) {
    background-color: $dark;
    box-shadow: 0px 0px 6px rgba(255,255,255,.1);
  }

  &-dark {
    .navbar__link {
      color: white !important;
    }
  }

  &__shrink {
    @media only screen and (min-width: 768px) {
      animation: navbar-shrink .2s;

      @keyframes navbar-shrink {
        from {
          background-color: transparent;
          padding-top: 1.5rem;
        }
      }
    }
  }

  &__link {
    font-size: .8em;
    cursor: pointer;
    transition: .2s;

    &:hover a {
      border-bottom: 2px solid $yellow;
    }
  }

  &--active {
    color: $yellow;
    border-bottom: 2px solid $yellow;

    &:hover { color: $yellow; }
  }
}

.bg-blue {
  background-color: $dark;
  box-shadow: 0px 0px 6px rgba(255,255,255,.1);
}
