@import 'components/styles/_variable';

.navbar {
  transition: .4s;

  &-dark {
    .navbar__link {
      color: white !important;

      &:hover {
        opacity: .5;
        transition: .2s;
      }
    }
  }

  &__link {
    font-size: .8em;
  }
}

.bg-blue {
  background-color: $dark;
  box-shadow: 0px 0px 6px rgba(255,255,255,.1);
}
