@import 'components/styles/_variable';

html, body {
  font-family: Roboto, sans-serif;
  font-size: 1.1em;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Anton, sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.btn-dark {
  background-color: $dark !important;
  border: none;
  color: white;
}

.btn-secondary {
  background-color: $red !important;
  border: none !important;
  color: white !important;
}

.text {
  &--dark { color: $dark; }
  &--yellow { color: $yellow; }
  &--blue { color: $blue; }

  &__header {
    font-size: 40px;
    text-transform: uppercase;
  }
}

.bg {
  &--accent { background-color: $accent; }
  &--dark { background-color: $dark; }
  &--purple { background-color: $purple; }
}

.color {
  &--accent { color: $accent }
}
