@import 'components/styles/_variable';

.resume {
  position: relative;

  &::before {
    @include topTriangle;
  }
  
  &::after {
    @include bottomTriangle;
  }

  &__wrapper {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  &__text {

    &--lg {
      font-size: 1.2em;
    }
  }
}

h3 {
  font-size: 32px;
}
