@import 'components/styles/_variable';

.resume {
  position: relative;

  &::before {
    border-top: 10vh solid $dark;
    border-left: 99vw solid transparent;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  
  &::after {
    border-bottom: 10vh solid $dark;
    border-right: 99vw solid transparent;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__wrapper {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  &__text {

    &--lg {
      font-size: 1.2em;
    }
  }
}

h3 {
  font-size: 32px;
}
