@import 'components/styles/_variable';

.intro {
  position: relative;

  &::after {
    border-bottom: 10vh solid $dark;
    border-right: 99vw solid transparent;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
