@import '../../../components/styles/_variable';

.intro {
  background-image: linear-gradient($purple, $dark);
  background-position: center;
  background-size: cover;
  min-height: 300px;
  padding-top: 6rem;
  position: relative;

  &__heading1 {
    color: white;
    font-family: Anton, sans-serif;
    font-size: 3.5em;
    line-height: 120%;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__description {
    color: white;
    line-height: 150%;
  }

  &__wrapper {
    display: flex;
  }

  &__content {
  }

  &__portfolio-btn {
    a {
      display: inline-block;
      background: transparent;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 10px 30px;
      transition: 0.5s;
      position: relative;
      font-size: 17px;
      border: 1px solid #eaeaea;
      color: #fff;
    }

    a:hover {
      letter-spacing: 0.25em;
      color: $yellow;
      box-shadow: 0 0 45px $yellow;
      border-color: $yellow;
    }

    a::before {
      content: '';
      position: absolute;
      inset: 2px;
    }

    a span {
      position: relative;
      z-index: 1;
    }

    a i {
      position: absolute;
      inset: 0;
      display: block;
    }

    a i::before {
      content: '';
      position: absolute;
      border: 2px solid $yellow;
      width: 7px;
      height: 4px;
      top: -3.5px;
      left: 80%;
      background: #222222;
      transform: translateX(-50%);
      transition: 0.5s;
    }

    a:hover i::before {
      width: 20px;
      left: 20%;
    }

    a i::after {
      content: '';
      position: absolute;
      border: 2px solid $yellow;
      width: 7px;
      height: 4px;
      bottom: -3.5px;
      left: 20%;
      transform: translateX(-50%);
      transition: 0.5s;
    }

    a:hover i::after {
      width: 20px;
      left: 80%;
    }
  }
}
