@import 'components/styles/_variable';

.portfolio {
  margin-top: 5em;

  &--yellow {
    color: $yellow;
  }

  &__head {
    background-image: linear-gradient(to right, $purple, #26024C);
    display: block;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__img {
    height: 300px;
    transition: .3s;

    &:hover {
      filter: grayscale(1);
    }
  }

  &__link:hover {
    opacity: .4;
    transition: .2s;
  }
}
